#Exclude all files from data & output but keep directory structure
/data/**
!/data/**/

/output/**
!/output/**/
!/output/plots/**

#Exclude tmp directory
/tmp

#Exlude RData etc
/.RData
/.Rhistory
/.Rproj.user

#Exclude nextflow logs
/.nextflow.log*
