#Exclude all files from data & output but keep directory structure
/data/**
!/data/**/

/output/**
!/output/**/
!/output/plots/**

#Exclude tmp directory
/tmp

#Exlude RData etc
/.RData
/.Rhistory
/.Rproj.user

#Exclude nextflow logs
/.nextflow.log*

#Exlude GEO submission data
/ICEA_geo_submission_241020

#Exclude old code
/script/old_code
